<div class="cat_mainDiv">
    @*<div class="cat_mainDiv">*@
    <div class="cat_head">Catagories</div>
    <a href="#">Laptop</a>
    <br />
    <a href="#">NoteBook</a>
    <br />
    <a href="#">Desktop</a>
    <br />
    <a href="#">Accessories</a>
    <br />
    <a href="#">Cases</a>
    <br />
    <a href="#">CD/DVD</a>
    <br />
    <a href="#">Clearance</a>
    <br />
    <a href="#">ControleCall</a>
    <br />
    <a href="#">CPU</a>
    <br />
    <a href="#">Dirvers</a>
    <br />
    @*</div>*@
</div>
